# Flutter
**/.dart_tool/
**/build/
**/.flutter-plugins-dependencies
**/pubget*.log

# Python
**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/.venv/
**/venv/

# Local caches and secrets
.pub-cache/
**/.env
